
    .icon-menu {
        cursor: pointer;
        width: 12%;
        height: 5%;
    }
    .exit-menu {
        cursor: pointer;
        width: 40%;
    }
    .menu {
        background: #ffefd1;
        left: -285px;  /* start off behind the scenes */
        height: 100%;
        position: fixed;
        width: 285px;
    }
    html {
        height: 100%;
        width:100%;
    }
    .menu li {
        border-bottom: 1px solid #636366;
        font-family: 'Sniglet', cursive;
        line-height: 50px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-top: 10px;
        list-style-type: none;
        font-size: 150%;
        font-weight: 50px;
        color: #FF5353;
    }

    .jumbotron {
        width: 100%;
        height: 790px;
        background-image: url("paint.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-bottom: 0px;
        padding-bottom: 0px;

    }


    #jumbo {
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .jumbotron .text{
        color: white;
        text-align: right;
        padding-right: 100px;
        padding-top: 0px;
        font-size: 300%;
    }
    #welcome {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    #welcome h1 {
        font-size: 250%;
        font-family: 'Indie Flower', cursive;
    }

    #welcome p {
        font-size: 100%;
        font-family: 'Indie Flower', cursive;
    }


/*
    .nav {
        background-color: white;
    }
    #about.container{
        margin: 0px;
        margin-left: 0px;
        padding-top: 100px;
        width: 100%;
    }
    .container {
        width: 100%;
        height: 750px;
        background-color: #DBDAD8;
        margin: 0;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 100px;
        font-size: 50px;
    }

    .text {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: center;
        color: #afafaf;
        width: 100%;
    }
    .mission {
        background-color: #D9FBEE;
        opacity: .75;
        height: 150px;

        padding-left: 200px;
        padding-right: 200px;

    }

    a:hover {
	    color:gold;
    }

    div:hover {
        width 300px;
    }

