.container {
    padding-top: 35px;
    width: 100%;
    height: 750px;
    align-items: center;
}
img.displayed {

    margin-top: 5%;
    margin-left: 45%;
    width: 100px;

}

.text {
    text-align: center;
}
.text h1 {
    font-size: 100px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #4A4A4A;
}
.text p {
    font-size: 35px;
    color: #949494;
    font-family: 'Open Sans', sans-serif;
}
.stats{
background-color: #F4F4F4;
}